.container {
  display: flex;

  .content {
    border-radius: 20px;
    margin-left: 10px;
    padding: 30px;
    box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.25);

    .table {
      text-align: center;

      > thead {
        font-size: 18px;
        color: #4943da;
        > tr {
          > th {
            padding-right: 20px;
          }
        }
      }

      > tbody {
        font-size: 15px;
      }
    }
    .buttons {
      display: flex;
      justify-content: center;
      > button {
        margin-right: 10px;
      }
    }
  }
}
