.userProfile {
  display: flex;
  margin-bottom: 120px;
  align-items: center;
  flex-direction: column;
  font-family: "Roboto";

  .errorMessage {
    color: red;
    font-size: 15px;
    font-weight: 500;
  }

  .successMessage {
    color: red;
    font-size: 15px;
    font-weight: 500;
  }

  form {
    .image {
      .span {
        font-size: 12px;
      }
    }

    .salaryExpectation {
      .span {
        font-size: 12px;
      }
    }

    .city {
      .span {
        font-size: 12px;
      }
    }
  }
}

.policy {

  font-size: 12px;
  margin-top: 10px;
}
