.userProfile {
     
     font-weight: 500;
     font-family: "Roboto";
     display: flex;
     align-items: center;
     flex-direction: column;
     margin-bottom: 120px;

     .searchType {
          margin-bottom: 30px;
     }
}