.userProfile {
  display: flex;
  margin-bottom: 120px;
  align-items: center;
  flex-direction: column;

  form {
    font-family: "Roboto";
    .image {
      .span {
        font-size: 12px;
      }
    }

    .salaryExpectation {
      .span {
        font-size: 12px;
      }
    }

    .city {
      .span {
        font-size: 12px;
      }
    }
  }
}
