.userProfile {
     
     font-size: 30px;
     font-weight: 500;
     font-family: "Roboto";
     display: flex;
     align-items: center;
     flex-direction: column;

     .searchType {
          margin-bottom: 30px;
     }

     
}