.button {
     background: #4540DB;
     border-radius: 20px;
     border: none;
     font-family: 'Roboto';
     font-style: normal;
     font-weight: 500;
     font-size: 18px;
     line-height: 21px;
     text-align: center;
     color: #FFFFFF;
     padding: 14px 31px;
     cursor: pointer;
     box-shadow: 0px 1px 22px 1px rgba(69, 64, 219, 0.04);
}

.button:hover {
  opacity: 0.8;
}