.card {
  position: relative;
  width: 268px;
  border-radius: 20px;
  box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.25);

  .cardInfo {
    // display: grid;
    // grid-template-rows: 1fr auto;
    padding: 19px 12px 24px 20px;

    .shortInfo {
      display: flex;
      margin-bottom: 20px;

      > img {
        width: 33px;
        height: 33px;
        border-radius: 50%;
      }

      .info {
        color: #000000;
        padding-left: 15px;

        > p {
          font-size: 18px;
          line-height: 21px;
        }

        > span {
          display: flex;
          flex-direction: column;
          font-size: 12px;
          line-height: 14px;
        }
      }
    }

    .positionInfo {
      min-height: 80px;
      padding-bottom: 10px;

      > p {
        font-size: 25px;
        line-height: 29px;
      }

      > span {
        font-size: 12px;
        line-height: 14px;
      }
    }

    .description {
      min-height: 150px;
      padding-top: 15px;
      font-size: 12px;
      line-height: 14px;
      color: #585858;
    }

    .skills {
      padding-top: 20px;
      font-size: 14px;
    }

    .workType {
      font-size: 12px;
    }

    .countryCity {
      font-size: 12px;
    }

    .salary {
      display: flex;
      justify-content: space-between;
      padding-top: 40px;

      > p {
        font-size: 18px;
        line-height: 21px;

        > span {
          font-size: 12px;
        }
      }

      > button {
        color: #4943da;
        border: none;
        background: #f9f9ff;
        cursor: pointer;
        border-radius: 10px;
      }
    }
  }
}
